body, ul, h1, h2, p {
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 1;
}

li {
    list-style-type: none;
}

body {
    background-color: #0e0e0e;
    background-image: url(images/bg.png);
    color: white;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    background-image: url(images/cover.png);
    background-size: cover;
    background-position: center;

    height: 280px;
    line-height: 280px;

    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #eee;

    position: relative;
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 520px;
    height: 12px;
    margin-left: -260px;
    background-color: #eee;
}

.title::before {
    top: 85px;
}

.title::after {
    bottom: 85px;
}

.timeline {
    padding: 50px 0;
    margin: 0 -40px;
    position: relative;
}

.timeline:before {
    content:"";
    background-color: dodgerblue;
    position: absolute;
    left: 50%;
    top: 0;
    bottom:0;
    transform: translateX(-50%);
    width: 6px;
    margin: 100px 0 -100px;
}

.timeline-item {
    width: 50%;
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
}

.timeline-item:before {
    content: "";
    /* background-color: transparent; */
    background-image: url(images/bg.png);
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 6px solid dodgerblue;
    margin: 50px -21.5px;
}

.timeline-item:after {
    content:"";
    background-color: dodgerblue;
    position: absolute;
    right: 0;
    top: 67px;
    width:20px;
    height: 5px;
    margin-right: 15px;
}

.timeline-item:nth-child(2n) {
    margin-left: auto;
    margin-top: -120px;
    margin-bottom: -120px;
}


.timeline-item:nth-child(2n):before {
    content: "";
    left: 0;
}


.timeline-item:nth-child(2n):after {
    content: "";
    left: 15px;
}

.tour {
    background-color: #000;
    min-height: 400px;
}

.tour-cover{
    width:100%;
}

.tour-contents {
    padding:30px;
}

.tour-contents h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.tour-contents h2 strong {
    display: block;
    color: #999;
}

.tour-contents p {
    color: #999;
    line-height: 1.4;
}

@media (max-width:720px) {
    .timeline-item:nth-child(2n),
    .timeline-item {
        width: auto;
        margin: 0 0 40px 50px;
    }

    .timeline:before {
        content: "";
        left: 47px;
        transform: none;
    }

    .timeline-item:before {
        left: 0;
    }

    .timeline-item:after {
        left:15px;
    }

}