/* Reset */
body, ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

img {
    vertical-align: top;
    max-width: 100%
}

/* Typography */

html {
    font-family: sans-serif;
    font-size: 62.5%;
    line-height: 1;
}

body {
    font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 100%;
    font-weight: normal;
}


/* Commons */
.clearfix:after,
.clearfix:before {
    content: "";
    display:table;
}

.clearfix:after {
    content: "";
    clear: both;
}

.button {
    background-color: #ddd;
    padding: 0.5em 1em;
    display:inline-block;
}

.button_block {
    display: block;
}

.button_important {
    background-color: orangered;
    color: white;
}

.mb-5 {
    margin-bottom: 5px;
}

/* Layouts */
.l_wrapper {
    max-width: 980px;
    width: auto;
    margin: 0 auto;
    padding: 0 30px;
}

.l_sidebar {
    float:left;
    width: 200px;
    margin-right: 20px;
}

.l_sidebar_right {
    float:right;
    margin-left: 20px;
    margin-right: 0px;
}
.l_main {
    overflow: hidden;
}

.l_row {
    margin: -20px -10px 0px;
}

.l_row_narrow {
    margin: -10px -5px 0px;
}

.l_row_narrow .l_col {
    padding: 0 5px;
    margin-top: 10px;
}

.l_col{
    float:left;
    padding: 0 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

.l_col_12_12 { width: 100%; }
.l_col_11_12 { width: 91.66666667%; }
.l_col_10_12 { width: 83.33333333%; }
.l_col_9_12  { width: 75%; }
.l_col_8_12  { width: 66.66666667%; }
.l_col_7_12  { width: 58.33333333%; }
.l_col_6_12  { width: 50%; }
.l_col_5_12  { width: 41.66666667%; }
.l_col_4_12  { width: 33.33333333%; }
.l_col_3_12  { width: 25%; }
.l_col_2_12  { width: 16.66666667%; }
.l_col_1_12  { width: 8.33333333%; }

.l_desc {
    float:left;
    width: calc( 100% - 220px );
}

.l_summ {
    float:right;
    width: 200px;
}

/* Components */
body {
    background-color: #0e0e0e;
    color: #999;
}

.header {
    padding: 20px 0;
    color: white;
    position: relative;
}

.header-inside {
    border: 1px solid;
}

.header-logo {
    background-image: url(images/logo.png);
    display: block;
    width: 115px;
    height: 40px;
    background-size: cover;
    background-position: center;
    float:left;
    text-indent: -9999px;
    
}

.header-menu {
    float:right;
}
.header-menu li{
    float:left;
}
.header-menu li a {
    display: block;
    height:40px;
    line-height: 40px;
    padding: 0 10px;
    border-left: 1px solid;
}

.cover {
    background-image: url(images/header-cover.png);
    background-color: #000;
    background-size: cover;
    background-position: center;
    color:white;
    margin-top: -82px;
    padding-top: 82px;
}

.cover-contents {
    padding: 40px 0;
    max-width: 500px;
}

.cover-contents h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height:1.2;
}

.cover-contents p {
    color: #666;
    line-height: 1.4;
}


.contents {

}

.category {
    padding: 10px 0;
}

.product {
    background-color: white;

}

.product-cover {
    float: left;
    width: 20%;
    position: relative;
}

.product-cover:before{
    content:"";
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: #fb7b92;
    margin-left: -50vw;
}

.product-cover-img {
    position: relative;
}

.product-contents {
    overflow:hidden;
    padding: 30px;
}

.product-contents h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight:bold;
    color:#fb7b92;
}

.product-contents p {
    line-height: 1.3;
}

.category-wrapper {
    margin: 0 -5px;
}

.category-list {
    display:table;
    width:100%;
}

.category-list li {
    display:table-cell;
}

.category-anchor {
    display:block;
    margin: 0 5px;
    height: 65px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.category-anchor:after {
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

.category-anchor-bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
}

.category-anchor strong {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 10;
}

.section {
    padding: 40px 0;
}

.section-title {

}

.section-title h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 4px;
}

.item {
    position: relative;
}

.item h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 5%;
    font-size: 1.6rem;
    color: white;
}

.item-cover {
    width:100%;
    display: block;
}


.payment {
    padding:20px;
    text-align: center;
    background-color: #efefef;
}

.payment-sale strong{
    display:block;
    
}

.payment-discount {
    background-color: white;
    margin: 10px 0;
    padding: 10px 0 8px;
    font-size: 2rem;
    font-weight: bold;
    color:dodgerblue;
}

.payment-origin {
    font-size: 0.5em;
    vertical-align: top;
    font-weight: normal;
    color:lightgray;
    text-decoration: line-through;
}



.footer {
    padding: 20px 0;
    color: #666;
}

.footer-logo {
    opacity:0.2;
}

.footer-contents {
    margin-bottom: 20px;
}

.footer-menu-item{
    float:left;
    margin-right:30px;
}

.footer-menu-item h3 {
    color:#999;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.footer-menu-item li{
    margin-bottom:10px;
}

.footer-copyright {
    border-top: 1px solid #555;
    padding-top: 20px;
}

/* Mediaqueries */
/* Tablet */
@media (max-width:768px)  {
    .l_desc,
    .l_summ {
        width: auto;
        float: none;
    }

    .l_desc {
        margin-bottom: 20px;
    }

    .l_sidebar {
        float:none;
        margin: 0 0 20px 0;
    }
}

/* Mobile */
@media (max-width:480px){
    html {
        font-size:70%;
    }

    .header {
        border-bottom: 1px solid;
        padding: 5px 0;
    }

    .l_wrapper {
        padding: 0 10px;
    }

    .header-inside,
    .header-menu li a{
        border: 0;
    }

    .header-menu,
    .header-logo {
        float: none;
    }

    .header-menu li a {
        padding: 0 5px;
    }

    .category {
        position: relative;
        overflow: hidden;
    }

    .category:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: -50px 0;
        box-shadow: inset 0 0 20px 30px rgba(0,0,0,1.0);
    }

    .category-wrapper {
        overflow:scroll;
    }

    .category-list {
        width: 1000px;
    }

    .product-cover{
        float:none;
        width: auto;
    }
    
    .product-cover:before {
        display: none;
    }

    .footer-menu-item {
        float:none;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-menu-item:last-child{
        margin-bottom:0;
    }

    .l_col_mb_12_12 { width: 100%; }
    .l_col_mb_11_12 { width: 91.66666667%; }
    .l_col_mb_10_12 { width: 83.33333333%; }
    .l_col_mb_9_12  { width: 75%; }
    .l_col_mb_8_12  { width: 66.66666667%; }
    .l_col_mb_7_12  { width: 58.33333333%; }
    .l_col_mb_6_12  { width: 50%; }
    .l_col_mb_5_12  { width: 41.66666667%; }
    .l_col_mb_4_12  { width: 33.33333333%; }
    .l_col_mb_3_12  { width: 25%; }
    .l_col_mb_2_12  { width: 16.66666667%; }
    .l_col_mb_1_12  { width: 8.33333333%; }
}