body, h2, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #ddd;
}

.header {
    height: 300px;
    background-image: url(images/cover.png);
    background-position: center;
    overflow: hidden;
    margin-bottom:-100px
}

.contents {
    background-color: white;
    width: 860px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    /* margin-top:-100px */
}

.box-wrapper {
    /* overflow: hidden; */
    overflow: flow-root;
    width: 960px;
    margin: 50px auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 5px;
    float: left;
    text-align: center;
    line-height: 100px;
    font-family: 'arial';
    font-size: 50px;
    position: relative;
}

.box-inside {
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/cover04.png);
    background-position: center;
    transition: all .4s
}

.box:hover .box-inside {
    margin: -30px;
    z-index: 10;
}

/* box.select {
    background-color: orange;
    margin-left: 50px;
} */

.section {
    background-color: #efefef;

}

.section h2 {
    margin-bottom: 20px
}

.list {
    padding-left: 1em;
}

.list li:before {
    content: "";
    background-color: orangered;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.4em;
    margin-left: -1em;
}


.map {
    width: auto;
    background-color: white;
    padding: 20px;
    margin: 30px -50px;
    transition: all .5s;
}

.map:hover {
    margin: 30px -100px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4)
}